@mixin fonter($weight: 400, $size: 25px, $line: 30px) {
  font-family: "Open Sans", Arial, sans-serif; /* stylelint-disable-line */
  font-style: normal;
  font-weight: $weight;
  font-size: $size;
  line-height: $line;
}
/* Я подумал, что название шрифта можно вынести в переменную, но с другой стороны всё равно его где-то нужно менять, если переиспользовать. А за переменной нужно идти в другой файл. Поэтому оставил здесь. */
