@use "../utils/global.scss";

.accomplishments {
  padding: 31px global.$padding-small 45px;

  @media (min-width: global.$width-medium) {
    padding: 56px global.$padding-medium 83px;
  }

  @media (min-width: global.$width-big) {
    padding: 31px global.$padding-big 45px;
  }
}

.accomplishments__title {
  margin: 0;
  margin-bottom: 28px;
  @include global.fonter(700, 25px, 30px);
  color: var(--dark);

  @media (min-width: global.$width-medium) {
    @include global.fonter(700, 43px, 50px);
    margin-bottom: 42px;
  }
}
