@use "../utils/global.scss";

.contacts {
  padding-top: 38px;
  padding-bottom: 39px;

  @media (min-width: global.$width-medium) {
    padding-top: 68px;
    padding-bottom: 57px;
  }
}
.contacts__title {
  margin: 0;
  margin-bottom: 28px;
  padding-left: global.$padding-small;
  padding-right: global.$padding-small;
  @include global.fonter(700, 25px, 30px);
  color: var(--dark);

  &::after {
    @media (min-width: global.$width-medium) {
      content: "";
      display: block;
      width: 47px;
      height: 81px;
      background: url("../img/icons/icon-map-flag.svg") no-repeat center center transparent;
    }
  }

  @media (min-width: global.$width-medium) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 49px;
    padding-left: global.$padding-medium;
    padding-right: global.$padding-medium;
    @include global.fonter(700, 43px, 50px);
  }

  @media (min-width: global.$width-big) {
    padding-left: global.$padding-big;
    padding-right: global.$padding-big;
  }
}

.contacts__adress {
  padding-left: global.$padding-small;
  padding-right: global.$padding-small;
  @include global.fonter(400, 14px, 30px);
  color: var(--main-font-color);

  @media (min-width: global.$width-medium) {
    padding-left: global.$padding-medium;
    padding-right: global.$padding-medium;
    @include global.fonter(400, 17px, 30px);
  }

  @media (min-width: global.$width-big) {
    padding-left: global.$padding-big;
    padding-right: global.$padding-big;
  }
}

.contacts__fields {
  margin: 0;
  margin-bottom: 62px;

  @media (min-width: global.$width-medium) {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    margin-bottom: 49px;
  }
}

.contacts__item {
  overflow-wrap: anywhere;

  @media (min-width: global.$width-medium) {
    padding-right: 20px;
  }
}

.contacts__text {
  margin: 0;
  overflow-wrap: anywhere;
}

@media (min-width: global.$width-medium) {
  .contacts__text:not(:last-child) {
    padding-right: 50px;
  }
}

.contacts__link {
  text-decoration: none;
  color: var(--main-font-color);
  border-bottom: 1px solid var(--accent-color);

  &:hover {
    color: var(--accent-color-action-dark);
    border-bottom: 1px solid var(--accent-color-action-dark);
  }

  &:active {
    color: var(--accent-color-action-dark);
    border-bottom: 1px solid var(--accent-color-action-dark-01); /* Я так понял, что цветовыми функциями пользоваться нельзя. */
  }
}

.contacts__map {
  margin-bottom: 42px;

  @media (min-width: global.$width-medium) {
    margin-bottom: 55px;
  }
}

.contacts__action {
  padding-left: global.$padding-small;
  padding-right: global.$padding-small;

  @media (min-width: global.$width-medium) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media (min-width: global.$width-big) {
    padding-left: global.$padding-big;
    padding-right: global.$padding-big;
  }
}

.contacts__button {
  @media (min-width: global.$width-medium) {
    width: max-content;
    padding-left: 26px;
    padding-right: 26px;
  }
}
