@use "../utils/global.scss";

.contacts {
  padding-top: 42px;
  padding-bottom: 39px;

  @media (min-width: global.$width-medium) {
    padding-top: 51px;
    padding-bottom: 57px;
  }

  /* stylelint-disable */
  @media (min-width: global.$width-big) {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: minmax(136px, min-content) minmax(269px, min-content) minmax(52px, min-content);
    grid-template-areas: "contacts-title contacts-map"
                          "contacts-address contacts-map"
                          "contacts-action contacts-map";
    padding: 71px 0 105px global.$padding-left-big;
  }

  @media (min-width: global.$width-x-big) {
    padding-right: 0;
  }
}
  /* stylelint-enable */

.contacts__title {
  grid-area: contacts-title;
  margin: 0;
  margin-bottom: 28px;
  padding-left: global.$padding-small;
  padding-right: global.$padding-small;
  @include global.fonter(700, 25px, 30px);
  color: var(--dark);

  &::after {
    @media (min-width: global.$width-medium) {
      content: "";
      display: block;
      width: 47px;
      height: 81px;
      margin-right: 3px;
      background: url("../img/icons/icon-map-flag.svg") no-repeat center center transparent;
    }

    @media (min-width: global.$width-big) {
      position: absolute;
      top: 21px;
      left: -112px;
    }
  }

  @media (min-width: global.$width-medium) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 34px;
    padding-left: global.$padding-medium;
    padding-right: global.$padding-medium;
    @include global.fonter(700, 43px, 50px);
  }

  @media (min-width: global.$width-big) {
    position: relative;
    align-self: end;
    margin: 0;
    padding-top: 40px;
    padding-left: 0;
    padding-right: 45px;
    @include global.fonter(700, 53px, 57px);
  }
}

.contacts__address {
  grid-area: contacts-address;
  padding-left: global.$padding-small;
  padding-right: global.$padding-small;
  @include global.fonter(400, 14px, 30px);
  color: var(--main-font-color);

  @media (min-width: global.$width-medium) {
    padding-left: global.$padding-medium;
    padding-right: global.$padding-medium;
    @include global.fonter(400, 17px, 30px);
  }

  @media (min-width: global.$width-big) {
    padding-top: 32px;
    padding-left: 0;
    padding-right: 45px;
  }
}

.contacts__fields {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  margin: 0;
  margin-bottom: 62px;

  @media (min-width: global.$width-medium) {
    margin-bottom: 49px;
  }
}

.contacts__item {
  flex-basis: 29.35%;
  padding-right: 10px;
  overflow-wrap: anywhere;

  @media (min-width: global.$width-medium) {
    flex-basis: 12%;
    padding-right: 20px;
  }

  @media (min-width: global.$width-big) {
    flex-basis: 25%;
    padding-right: 10px;
  }
}

.contacts__text {
  flex-basis: 70.65%;
  margin: 0;
  overflow-wrap: anywhere;

  @media (min-width: global.$width-medium) {
    flex-basis: 38%;
  }

  @media (min-width: global.$width-big) {
    flex-basis: 75%;
  }
}

.contacts__text:not(:last-child) {
  @media (min-width: global.$width-medium) {
    padding-right: 20px;
  }

  @media (min-width: global.$width-big) {
    padding-right: 5px;
  }
}

.contacts__link {
  padding-bottom: 3px;
  text-decoration: none;
  color: var(--main-font-color);
  border-bottom: 1px solid var(--accent-color);

  &:hover {
    color: var(--accent-color-action-dark);
    border-bottom: 1px solid var(--accent-color-action-dark);
  }

  &:active {
    color: var(--accent-color-action-dark);
    border-bottom: 1px solid var(--accent-color-action-dark-01); /* Я так понял, что цветовыми функциями пользоваться нельзя. */
  }

  @media (min-width: global.$width-big) {
    padding-bottom: 8px;
  }
}

.contacts__map {
  grid-area: contacts-map;
  margin-bottom: 39px;

  @media (min-width: global.$width-medium) {
    margin-bottom: 55px;
  }

  @media (min-width: global.$width-big) {
    margin-bottom: 0;
  }
}

.contacts__action {
  grid-area: contacts-action;
  padding-left: global.$padding-small;
  padding-right: global.$padding-small;

  @media (min-width: global.$width-medium) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media (min-width: global.$width-big) {
    justify-self: start;
    padding-left: 0;
    padding-right: 0;
  }
}

.contacts__button {
  @media (min-width: global.$width-medium) {
    width: max-content;
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (min-width: global.$width-big) {
    align-self: end;
  }
}
