@use "../utils/global.scss";

.container {
  padding-left: global.$padding-small;
  padding-right: global.$padding-small;

  @media (min-width: global.$width-medium) {
    padding-left: global.$padding-medium;
    padding-right: global.$padding-medium;
  }

  @media (min-width: global.$width-big) {
    padding-left: var(--page-padding-big);
    padding-right: var(--page-padding-big);
  }

  &--padding-big-only {
    @media (min-width: global.$width-small) and (max-width: global.$width-big) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
