@use "../utils/global.scss";

.copyright__link {
  display: flex;
  align-items: center;
  gap: 27px;
  text-decoration: none;

  &:hover .copyright__img {
    color: var(--accent-color-dark);
  }

  &:active .copyright__img {
    color: var(--accent-color-dark);
    opacity: var(--opacity-active);
  }
}

.copyright__text {
  @include global.fonter(700, 19px, 18px);
  color: var(--dark);

  @media (min-width: global.$width-big) {
    max-width: min-content;
  }
}

.copyright__img {
  min-width: 27px;
  color: var(--accent-color);
}
