@use "../utils/global.scss";

.features-list {
  display: grid;
  row-gap: 32px;

  @media (min-width: global.$width-medium) {
    grid-template-columns: 1fr 1fr;
    gap: 57px 70px;
    grid-auto-flow: row;
  }
}

.features-list__item {
  position: relative;
  padding-top: 55px;
  @include global.fonter(700, 17px, 20px);
  color: var(--dark);

  &--eco::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 38px;
    top: 0;
    left: 0;
    background: url("../img/icons/icon-eco.svg") no-repeat transparent top left;
  }

  &--style::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 38px;
    top: 0;
    left: 0;
    background: url("../img/icons/icon-style.svg") no-repeat transparent top left;
  }

  &--like::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 38px;
    top: 0;
    left: 0;
    background: url("../img/icons/icon-like.svg") no-repeat transparent top left;
  }

  &--handmade {
    @media (max-width: global.$width-small) {
      order: 2;
    }
  }

  &--handmade::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 38px;
    top: 0;
    left: 0;
    background: url("../img/icons/icon-handmade.svg") no-repeat transparent top left;
  }

  &--patriot {
    @media (max-width: global.$width-small) {
      order: 3;
    }
  }

  &--patriot::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 38px;
    top: 0;
    left: 0;
    background: url("../img/icons/icon-patriot.svg") no-repeat transparent top left;
  }

  &--packing {
    @media (max-width: global.$width-small) {
      order: 4;
    }
  }

  &--packing::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 38px;
    top: 0;
    left: 0;
    background: url("../img/icons/icon-packing.svg") no-repeat transparent top left;
  }

  @media (min-width: global.$width-medium) {
    @include global.fonter(700, 20px, 22px);
  }
}
