@use "../utils/global.scss";

.features-list {
  display: grid;
  row-gap: 28px;

  @media (min-width: global.$width-medium) {
    grid-template-columns: 1fr 1fr;
    gap: 57px 2px;
    grid-auto-flow: row;
  }

  @media (min-width: global.$width-big) {
    gap: 57px 24px;
  }
}

.features-list__item {
  position: relative;
  padding-top: 55px;
  @include global.fonter(700, 17px, 20px);
  color: var(--dark);

  &--eco::before {
    content: "";
    position: absolute;
    display: block;
    width: 33px;
    height: 38px;
    top: 0;
    left: 8px;
    background: url("../img/sprite.svg#icon-eco") no-repeat transparent top left;
  }

  &--style::before {
    content: "";
    position: absolute;
    display: block;
    width: 47px;
    height: 38px;
    top: -4px;
    left: 0;
    background: url("../img/sprite.svg#icon-style") no-repeat transparent top left;
  }

  &--like::before {
    content: "";
    position: absolute;
    display: block;
    width: 34px;
    height: 38px;
    top: 0;
    left: 7px;
    background: url("../img/sprite.svg#icon-like") no-repeat transparent top left;
  }

  &--handmade {
    @media not all and (min-width: global.$width-medium) {
      order: 2;
    }
  }

  &--handmade::before {
    content: "";
    position: absolute;
    display: block;
    width: 35px;
    height: 38px;
    top: 3px;
    left: 3px;
    background: url("../img/sprite.svg#icon-handmade") no-repeat transparent top left;
  }

  &--patriot {
    @media not all and (min-width: global.$width-medium) {
      order: 3;
    }
  }

  &--patriot::before {
    content: "";
    position: absolute;
    display: block;
    width: 55px;
    height: 38px;
    top: -2px;
    left: -6px;
    background: url("../img/sprite.svg#icon-patriot") no-repeat transparent top left;
  }

  &--packing {
    @media not all and (min-width: global.$width-medium) {
      order: 4;
    }
  }

  &--packing::before {
    content: "";
    position: absolute;
    display: block;
    width: 33px;
    height: 38px;
    top: 0;
    left: 3px;
    background: url("../img/sprite.svg#icon-packing") no-repeat transparent top left;
  }

  @media (min-width: global.$width-medium) {
    padding-right: 20px;
    @include global.fonter(700, 20px, 22px);
  }
}
