@use "../utils/global.scss";

.fieldset {
  @media (min-width: global.$width-medium) {
    display: grid;
    grid-template-columns: 25.15% 74.85%;
    padding: 50px 0 50px;
  }

  @media (min-width: global.$width-big) {
    grid-template-columns: 14.11% 85.89%;
    padding: 50px 173px 50px 61px;
  }

  &--radio {
    display: grid;
    row-gap: 30px;
    padding-bottom: 31px;

    @media (min-width: global.$width-medium) {
      padding-top: 44px;
      padding-bottom: 50px;
    }

    @media (min-width: global.$width-big) {
      padding-top: 34px;
    }
  }

  &--check {
    display: grid;
    row-gap: 25px;
    padding-bottom: 33px;

    @media (min-width: global.$width-medium) {
      padding-bottom: 50px;
    }
  }

  &--person {
    display: grid;
    row-gap: 29px;
    padding-bottom: 35px;

    @media (min-width: global.$width-medium) {
      padding-bottom: 50px;
    }
  }

  &--phone {
    display: grid;
    row-gap: 5px;
    padding-bottom: 35px;

    @media (min-width: global.$width-medium) {
      padding-bottom: 13px;
    }
  }

  &--email {
    display: grid;
    row-gap: 5px;
    padding-bottom: 35px;

    @media (min-width: global.$width-medium) {
      padding-top: 13px;
      padding-bottom: 50px;
    }
  }

  &--additional {
    display: grid;
    row-gap: 23px;
  }

  &--accent {
    @media (min-width: global.$width-medium) {
      background-color: var(--page-content-background);
    }
  }

  &--wide {
    @media (min-width: global.$width-big) {
      padding-right: 140px;
    }
  }
}

.fieldset__title {
  display: flex;
  column-gap: 22px;
  margin: 0;
  @include global.fonter(700, 17px, 17px);
  text-transform: uppercase;
  color: var(--accent-color);

  @media (min-width: global.$width-medium) {
    flex-basis: 25.15%;
    padding-top: 17px;
  }

  &::after {
    content: "";
    display: block;
    align-self: center;
    flex-grow: 1;
    height: 1px;
    background-color: var(--accent-color);

    @media (min-width: global.$width-medium) {
      display: none;
    }
  }
}

.fieldset__list {
  display: grid;

  @media (min-width: global.$width-medium) {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
  }

  &--radio {
    row-gap: 14px;

    @media (min-width: global.$width-medium) {
      row-gap: 27px;
    }
  }

  &--check {
    row-gap: 23px;

    @media (min-width: global.$width-medium) {
      flex-direction: row;
      flex-wrap: wrap;
      column-gap: 62px;
      row-gap: 24px;
    }

    @media (min-width: global.$width-big) {
      column-gap: 80px;
      row-gap: 24px;
    }
  }

  &--text {
    row-gap: 25px;

    @media (min-width: global.$width-medium) {
      row-gap: 24px;
    }
  }
}

.fieldset__label {
  display: grid;
  align-items: center;

  @media (min-width: global.$width-medium) {
    display: flex;
    column-gap: 25px;
    width: 100%;
  }

  &--radio {
    grid-template-columns: 42px auto;
    gap: 17px;

    @media (min-width: global.$width-medium) {
      /* Вот в таких случаях можно вкладывать медиа внутрь? Не слишком глубоко получается? */
      gap: 26px;
    }
  }

  &--check {
    grid-template-columns: 38px auto;
    gap: 23px;

    @media (min-width: global.$width-medium) {
      flex-basis: 40%;
      gap: 28px;
    }

    @media (min-width: global.$width-big) {
      flex-basis: 25%; /* Тут надпись выпадает дальше общего паддинга. Потом поправлю для PP. */
    }
  }

  &--phone {
    position: relative;
  }

  &--phone::after {
    content: "";
    position: absolute;
    right: 7px;
    display: block;
    width: 25px;
    height: 24px;
    background: url("../img/sprite.svg#icon-phone") no-repeat center;

    @media (min-width: global.$width-medium) {
      top: 11px;
      right: 26px;
    }
  }

  &--email {
    position: relative;
  }

  &--email::after {
    content: "";
    position: absolute;
    right: 3px;
    display: block;
    width: 32px;
    height: 21px;
    background: url("../img/sprite.svg#icon-email") no-repeat center;

    @media (min-width: global.$width-medium) {
      right: 23px;
    }
  }
}

.fieldset__value {
  @include global.fonter(700, 17px, 18px);
  color: var(--dark);

  @media (min-width: global.$width-medium) {
    @include global.fonter(700, 19px, 19px);
  }

  &--radio {
    @media (min-width: global.$width-medium) {
      max-width: 86%;
    }
  }

  &--check {
    @media (min-width: global.$width-medium) {
      max-width: 68%;
      overflow-wrap: break-word;
    }
  }
}

.fieldset__radio {
  display: grid;
  place-content: center;
  appearance: none;
  aspect-ratio: 1 / 1;
  margin: 0;
  width: 40px;
  height: 40px;
  font: inherit;
  color: var(--semi-dark);
  background-color: transparent;
  border: 2px solid var(--semi-dark);
  border-radius: 50%;

  @media (min-width: global.$width-medium) {
    width: 50px;
    height: 50px;
  }

  &::before {
    content: "";
    width: 18px;
    height: 18px;
    border-radius: 50%;
    box-shadow: inset 18px 18px var(--accent-color);
    transform: scale(0);
    transition: var(--transition);
  }

  &:checked::before {
    transform: scale(1);
  }

  &:hover {
    border: 2px solid var(--accent-color);
  }

  &:active {
    border: 2px solid var(--dark-03);
  }

  &--disabled {
    opacity: var(--disabled-opacity);
    cursor: auto;

    &:hover {
      border: 2px solid var(--semi-dark);
      opacity: var(--disabled-opacity);
   }

    &:active {
      border: 2px solid var(--semi-dark);
      opacity: var(--disabled-opacity);
    }
  }
}

.fieldset__check {
  display: grid;
  place-content: center;
  appearance: none;
  aspect-ratio: 1 / 1;
  margin: 0;
  width: 38px;
  height: 38px;
  font: inherit;
  color: var(--semi-dark);
  background-color: transparent;
  border: 2px solid var(--semi-dark);


  @media (min-width: global.$width-medium) {
    width: 52px;
    height: 52px;
  }

  &::before {
    content: "";
    margin-bottom: 10px;
    width: 11px;
    height: 21px;
    border-bottom: 1px solid var(--dark);
    border-right: 1px solid var(--dark);
    transform: rotate(0deg) scale(0);
    transition: var(--transition);

    @media (min-width: global.$width-medium) {
      width: 16px;
      height: 29px;
    }
  }

  &:checked::before {
    transform: rotate(45deg);
  }

  &:hover {
    border: 2px solid var(--accent-color);
  }

  &:active {
    border: 2px solid var(--dark-03);
  }

  &--disabled {
    opacity: var(--disabled-opacity);
    cursor: auto;

    &:hover {
      border: 2px solid var(--semi-dark);
      opacity: var(--disabled-opacity);
    }

    &:active {
      border: 2px solid var(--semi-dark);
      opacity: var(--disabled-opacity);
    }
  }
}

.fieldset__input {
  padding-top: 12px;
  padding-bottom: 12px;
  @include global.fonter(400, 17px, 17px);
  color: var(--semi-dark);
  border: none;
  border-bottom: 2px solid var(--dark);

  @media (min-width: global.$width-medium) {
    flex-grow: 1;
    padding-left: 16px;
    @include global.fonter(400, 19px, 19px);
  }

  &::placeholder {
    color: var(--semi-dark-03);

    @media (min-width: global.$width-medium) {
      @include global.fonter(400, 19px, 19px);
    }
  }

  &:hover {
    border-bottom: 2px solid var(--accent-color);
  }

  &:active {
    border-bottom: 2px solid var(--accent-color);
  }

  &--accent {
    @media (min-width: global.$width-medium) {
      background-color: var(--page-content-background);
    }
  }

  &--disabled {
    opacity: var(--disabled-opacity);
    cursor: default;

    &:hover {
      border-bottom: 2px solid var(--dark);
      opacity: var(--disabled-opacity);
    }

    &:active {
      border-bottom: 2px solid var(--dark);
      opacity: var(--disabled-opacity);
    }
  }

  &--error {
    color: var(--input-error);
    border-bottom: 2px solid var(--input-error);

    &:hover {
      color: var(--input-error);
      border-bottom: 2px solid var(--input-error);
    }

    &:active {
      color: var(--input-error);
      border-bottom: 2px solid var(--input-error);
    }
  }
}

.fieldset__textarea {
  padding: 17px;
  resize: none;
  @include global.fonter(400, 17px, 17px);
  color: var(--semi-dark);
  border: 2px solid var(--dark);

  @media (min-width: global.$width-medium) {
    padding: 14px;
    padding-bottom: 8px;
  }

  @media (min-width: global.$width-medium) {
    flex-grow: 1;
    padding-left: 16px;
    @include global.fonter(400, 19px, 19px);
  }

  &:hover {
    border: 2px solid var(--accent-color);
  }

  &:active {
    border: 2px solid var(--accent-color);
  }

  &--disabled {
    opacity: var(--disabled-opacity);
    cursor: default;

    &:hover {
      border: 2px solid var(--dark);
      opacity: var(--disabled-opacity);
    }

    &:active {
      border: 2px solid var(--dark);
      opacity: var(--disabled-opacity);
    }
  }

  &--error {
    color: var(--input-error);
    border: 2px solid var(--input-error);

    &:hover {
      color: var(--input-error);
      border: 2px solid var(--input-error);
    }

    &:active {
      color: var(--input-error);
      border: 2px solid var(--input-error);
    }
  }
}
