@use "../utils/global.scss";

.main-hero {
  position: relative;
  padding-top: 73px;
  background: url("../img/main-hero.jpg") no-repeat var(--hero-background) center -15px;

  &::after {
    content: "";
    position: absolute;
    bottom: -12px;
    display: none;
    width: 100%;
    height: 24px;
    background: url("../img/divider-header.svg") repeat-x center;

    @media (min-width: global.$width-medium) {
      display: block;
    }

     @media (min-width: global.$width-big) {
      display: block;
    }
  }

  @media (min-width: global.$width-medium) {
    padding-top: 140px;
    background: url("../img/main-hero__medium.jpg") no-repeat var(--hero-background) center -15px;
  }

  @media (min-width: global.$width-big) {
    padding: 158px global.$padding-big 120px;
  }
}

.main-hero__title {
  margin: 0 auto;
  min-height: 212px;
  padding-left: global.$padding-small;
  padding-right: global.$padding-small;
  @include global.fonter(700, 27px, 30px);
  text-align: center;
  color: var(--dark);

  @media (min-width: global.$width-medium) {
    max-width: 650px;
    min-height: 472px;
    padding-left: global.$padding-medium;
    padding-right: global.$padding-medium;
    @include global.fonter(700, 43px, 50px);
  }

  @media (min-width: global.$width-big) {
    padding: 158px global.$padding-big 120px;
  }
}

.main-hero__buttons {
  display: block;

  @media (min-width: global.$width-medium) {
    display: flex;
    justify-content: center;
    padding-left: global.$padding-medium;
    padding-right: global.$padding-medium;
  }

  @media (min-width: global.$width-big) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.main-hero__button {
  position: relative;
  display: block;
  min-height: 103px;
  padding: 24px 160px 31px 30px;
  @include global.fonter(700, 19px, 24px);
  color: var(--light);
  text-decoration: none;

  &--interior {
    background-color: var(--accent-color);
  }

  &--toys {
    background-color: var(--accent-color-dark);
  }

  &--interior::after {
    content: "";
    position: absolute;
    top: 23px;
    right: 36px;
    display: block;
    width: 100%;
    background: url("../img/icons/icon-interior.svg") no-repeat top right;
    opacity: 0.5;
  }

  &--toys::after {
    content: "";
    position: absolute;
    top: 21px;
    right: 27px;
    display: block;
    width: 100%;
    background: url("../img/icons/icon-toy.svg") no-repeat top right;
    opacity: 0.5;
  }

  &--interior:hover {
    background-color: var(--accent-color-action);
  }

  &--toys:hover {
    background-color: var(--accent-color-action-dark);
  }

  &--interior:hover::after {
    opacity: 0.7;
  }

  &--toys:hover::after {
    opacity: 0.7;
  }

  &--interior:active {
    background-color: var(--accent-color-action);
  }

  &--toys:active {
    background-color: var(--accent-color-action-dark);
  }

  &--interior:active::after {
    opacity: var(--opacity-active);
  }

  &--toys:active::after {
    opacity: var(--opacity-active);
  }

  @media (min-width: global.$width-medium) {
    min-height: 119px;
    flex-basis: 50%;
    padding: 25px 167px 34px 36px;
    @include global.fonter(700, 20px, 30px);
  }

  @media (min-width: global.$width-big) {
    padding: 25px 350px 34px 37px;
    @include global.fonter(700, 20px, 30px);
  }
}
