@use "../utils/global.scss";

.main-navigation {
    @media (min-width: global.$width-small) {
      align-self: baseline;
      justify-self: end;
    }
}

.main-navigation__main-menu {
  @media (min-width: global.$width-small) {
    display: block;
  }
}

.main-navigation__user-menu {
  @media (min-width: global.$width-small) {
    display: block;
  }
}

.main-navigation__promo {
  @media (min-width: global.$width-small) {
    display: none;
  }
}

.main-navigation__delivery {
  @media (min-width: global.$width-small) {
  display: none;
  }

  @media (min-width: global.$width-medium) {
    position: absolute;
    z-index: 2;
    top: 118px;
    right: global.$padding-medium;
    display: block;
  }
}

.main-navigation__toggle {
  @media (min-width: global.$width-medium) {
    display: none;
  }
}

.main-navigation__container {
  @media (min-width: global.$width-small) {
    position: absolute;
    left: 0;
    right: 0;
    top: 81px;
    z-index: 2;
  }

  @media (min-width: global.$width-medium) {
    position: static;
  }
}
