@use "../utils/global.scss";

.main-menu {
  @include global.list-reseter;
  width: 100%;

  @media (min-width: global.$width-medium) {
    display: flex;
    flex-wrap: wrap;
    column-gap: 36px;
    padding-left: global.$padding-medium; /* Не могу в примиксованном элементе перебить каскад, потому что файл с ним подключен раньше, чем файл блока. Чё делать? */
  }
}

.main-menu__item {
  @media (min-width: global.$width-small) {
    padding-left: 76px;
    background-color: var(--page-background);
    border-bottom: 2px solid var(--neutral);
  }
  @media (min-width: global.$width-medium) {
    padding-left: 0;
    background-color: transparent;
    border: none;
  }
}

.main-menu__link {
  display: block;
  padding-top: 29px;
  padding-bottom: 27px;
  @include global.fonter(700, 17px, 24px);
  text-decoration: none;
  color: var(--black);

  &:hover {
    opacity: var(--opacity-hover);
  }

  &:active {
    opacity: var(--opacity-active);
  }

  @media (min-width: global.$width-medium) {
    @include global.fonter(700, 15px, 24px);
  }
}
