@use "../utils/global.scss";

.main-navigation {
  @media (min-width: global.$width-small) {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 79px auto;
    border-bottom: 2px solid var(--neutral);
  }

  @media (min-width: global.$width-medium) {
    display: flex;
    flex-wrap: wrap;
    min-height: 89px;
  }

  &--open {
    @media (min-width: global.$width-small) {
      position: absolute;
      left: 0;
      right: 0;
      z-index: 2;
    }

    @media (min-width: global.$width-medium) {
      position: static;
    }
  }

  &--close .main-navigation__main-menu {
    @media not all and (min-width: global.$width-medium) {
      display: none;
    }
  }

  &--close .main-navigation__user-menu {
    @media not all and (min-width: global.$width-medium) {
      display: none;
    }
  }
}

.main-navigation__logo {
  position: relative;
  height: 35px;

  @media (min-width: global.$width-small) and (max-width: global.$width-medium) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    align-self: center;
    justify-self: center;
  }

  @media (min-width: global.$width-medium) {
    justify-self: start;
    display: flex;
    align-items: center;
    align-self: stretch;
    flex-basis: 30%;
    height: auto;
    min-height: 91px;
    padding-left: global.$padding-medium;
  }

  @media (min-width: global.$width-big) {
    order: 2;
    flex-basis: 20%;
    max-width: 20%;
    justify-content: center;
    padding: 0;
  }
}

.main-navigation__logo::after {
  @media (min-width: global.$width-medium) {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 1px;
    margin-left: - global.$padding-medium;
    background-color: var(--neutral);
  }

  @media (min-width: global.$width-big) {
    content: "";
    margin: 0;
  }
}

.main-navigation__toggle {
  @media (min-width: global.$width-small) {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    align-self: center;
    justify-self: center;
    padding-right: global.$padding-small;
  }

  @media (min-width: global.$width-medium) {
    display: none;
  }
}

.main-navigation__main-menu {
  @media (min-width: global.$width-small) {
    grid-column: 1 / -1;
  }

  @media (min-width: global.$width-medium) {
    order: 2;
    flex-basis: 60%;
    padding-left: global.$padding-big;
    background-color: var(--page-content-background);
  }

  @media (min-width: global.$width-big) {
    order: 1;
    flex-basis: 40%;
    flex-grow: 1;
    margin-left: -33px;
    background-color: var(--page-background);
    padding-left: var(--page-padding-big);
  }

  &--home-page {
    @media (min-width: global.$width-medium) {
      background-color: var(--hero-background);
    }

    @media (min-width: global.$width-big) {
      background-color: var(--page-background);
    }
  }
}

.main-navigation__user-menu {
  @media (min-width: global.$width-small) {
    grid-column: 1 / -1;
    display: block;
  }

  @media (min-width: global.$width-medium) {
    flex-basis: 50%;
    flex-grow: 1;
    justify-content: flex-end;
    padding-right: global.$padding-medium;
  }

  @media (min-width: global.$width-big) {
    order: 3;
    flex-basis: 40%;
    max-width: 40%;
    padding-right: var(--page-padding-big);
  }
}

.main-navigation__promo {
  @media (min-width: global.$width-small) {
    display: none;
  }

  @media (min-width: global.$width-big) {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 40%;
    flex-grow: 1;
    order: 4;
    margin-left: -33px;
    padding: 9px 0 19px var(--page-padding-big);
    background-color: var(--page-content-background);
  }

  &--home-page {
    @media (min-width: global.$width-big) {
      background-color: var(--hero-background);
    }
  }
}

.main-navigation__delivery {
  @media (min-width: global.$width-small) {
    display: none;
  }

  @media (min-width: global.$width-medium) {
    order: 3;
    flex-basis: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: global.$padding-medium;
    background-color: var(--page-content-background);
  }

  @media (min-width: global.$width-big) {
    order: 5;
    flex-basis: 60%;
    min-width: 60%;
    padding-right: var(--page-padding-big);
  }

  &--home-page {
    @media (min-width: global.$width-medium) {
      background-color: var(--hero-background);
    }
  }
}
