@use "../utils/global.scss";

.main-header {
  position: relative;
  background-color: var(--page-background);

  @media (min-width: global.$width-small) {
    min-height: 81px;
    padding: 0;
  }

  @media (min-width: global.$width-medium) {
    padding: 0;
    border: none;
  }

  @media (min-width: global.$width-big) {
    padding: 0;
  }
}

.main-header__navigation {
  &--open {
    @media (min-width: global.$width-small) {
      position: absolute; /* Блин, это нарушение БЭМа! */
      left: 0;
      right: 0;
      z-index: 2;
    }

    @media (min-width: global.$width-medium) {
      position: static;
    }
  }

  &--close .main-header__menu {
    @media not all and (min-width: global.$width-medium) {
      display: none;
    }
  }

  &--close .main-header__menu {
    @media not all and (min-width: global.$width-medium) {
      display: none;
    }
  }
}

.main-header__toggle {
  display: none;

  &--open {
    display: block;
  }
}
