@use "../utils/global.scss";

.main-menu {
  display: block;
  width: 100%;

  @media (min-width: global.$width-medium) {
    display: flex;
    flex-wrap: wrap;
    column-gap: 36px;
  }

  @media (min-width: global.$width-big) {
    column-gap: 0;
  }
}

.main-menu__item {
  @media (min-width: global.$width-small) {
    padding-left: 76px;
    background-color: var(--page-background);
    border-bottom: 2px solid var(--neutral);
  }

  @media (min-width: global.$width-medium) {
    padding-left: 0;
    background-color: transparent;
    border: none;
  }

  @media (min-width: global.$width-big) {
    flex-basis: 50%;
    padding-left: 33px;
    padding-right: 33px;
  }
}

.main-menu__item:first-child {
  @media (min-width: global.$width-small) {
    border-top: 2px solid var(--neutral);
  }

  @media (min-width: global.$width-medium) {
    border-top: none;
  }
}

.main-menu__item:not(:last-child) {
  @media (min-width: global.$width-big) {
    border-right: 1px solid var(--dark-01);
  }
}

.main-menu__link {
  display: block;
  padding-top: 29px;
  padding-bottom: 27px;
  @include global.fonter(700, 17px, 24px);
  text-decoration: none;
  color: var(--black);

  &:hover {
    opacity: var(--opacity-hover);
  }

  &:active {
    opacity: var(--opacity-active);
  }

  @media (min-width: global.$width-medium) {
    @include global.fonter(700, 15px, 24px);
  }

  @media (min-width: global.$width-big) {
    @include global.fonter(700, 17px, 24px);
  }
}
