@use "../utils/global.scss";

.main-hero {
  position: relative;
  padding-top: 71px;
  background: url("../img/backgrounds/main-hero.jpg") no-repeat var(--hero-background) center -15px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/backgrounds/main-hero@2x.jpg");
    background-size: 320px auto;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -12px;
    display: none;
    width: 100%;
    height: 24px;

    @media (min-width: global.$width-medium) {
      display: block;
      background: url("../img/hero-divider-medium.svg") repeat-x center left 5px;
    }

    @media (min-width: global.$width-big) {
      bottom: -19px;
      display: block;
      height: 34px;
      background: url("../img/hero-divider-big.svg") repeat-x center left 15px;
    }
  }

  @media (min-width: global.$width-medium) {
    padding-top: 91px;
    background: url("../img/backgrounds/main-hero-medium.jpg") no-repeat var(--hero-background) center -15px;
    background-position: bottom -4px center;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/backgrounds/main-hero-medium@2x.jpg");
      background-size: 768px auto;
    }
  }

  @media (min-width: global.$width-big) {
    padding-top: 87px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/backgrounds/main-hero-big@2x.jpg");
      background-size: 1150px auto;
    }
  }
}

.main-hero__title {
  margin: 0 auto;
  min-height: 209px;
  padding-left: var(--padding-small);
  padding-right: var(--padding-small);
  padding-bottom: 10px;
  @include global.fonter(700, 27px, 30px);
  text-align: center;
  color: var(--dark);

  @media (min-width: global.$width-medium) {
    max-width: 650px;
    min-height: 472px;
    padding-left: var(--padding-medium);
    padding-right: var(--padding-medium);
    @include global.fonter(700, 43px, 50px);
  }

  @media (min-width: global.$width-big) {
    max-width: 715px;
    min-height: 470px;
    padding: 0 var(--padding-big);
    @include global.fonter(700, 53px, 57px);
  }
}

.main-hero__buttons {
  display: block;

  @media (min-width: global.$width-medium) {
    display: flex;
    justify-content: center;
    padding-left: var(--padding-medium);
    padding-right: var(--padding-medium);
  }

  @media (min-width: global.$width-big) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: var(--page-padding-big);
    padding-right: var(--page-padding-big);
  }
}

.main-hero__button {
  position: relative;
  display: block;
  min-height: 104px;
  margin-bottom: -5px;
  padding: 25px 160px 33px 30px;
  @include global.fonter(700, 19px, 24px);
  color: var(--light);
  text-decoration: none;
  transition: var(--transition);

  &--interior {
    background-color: var(--accent-color);
  }

  &--toys {
    background-color: var(--accent-color-dark);
  }

  &--interior::after {
    content: "";
    position: absolute;
    top: 23px;
    right: 36px;
    display: block;
    width: 100%;
    height: 100%;
    background: url("../img/icons/icon-interior.svg") no-repeat top right;
    opacity: 0.5;

    @media (min-width: global.$width-big) {
      top: 29px;
      right: 36px;
    }
  }

  &--toys::after {
    content: "";
    position: absolute;
    top: 21px;
    right: 27px;
    display: block;
    width: 100%;
    height: 100%;
    background: url("../img/icons/icon-toy.svg") no-repeat top right;
    opacity: 0.5;

    @media (min-width: global.$width-big) {
      top: 30px;
      right: 35px;
    }
  }

  &:hover {
    transform: translateY(-5px);
  }

  &--interior:hover {
    background-color: var(--accent-color-action);
  }

  &--toys:hover {
    background-color: var(--accent-color-action-dark);
  }

  &--interior:hover::after {
    opacity: 0.7;
  }

  &--toys:hover::after {
    opacity: 0.7;
  }

  &--interior:active {
    background-color: var(--accent-color-action);
  }

  &--toys:active {
    background-color: var(--accent-color-action-dark);
  }

  &--interior:active::after {
    opacity: var(--opacity-active);
  }

  &--toys:active::after {
    opacity: var(--opacity-active);
  }

  @media (min-width: global.$width-medium) {
    min-height: 119px;
    flex-basis: 50%;
    padding: 25px 167px 34px 36px;
    @include global.fonter(700, 20px, 30px);
  }

  @media (min-width: global.$width-big) {
    padding: 25px 350px 34px 37px;
    @include global.fonter(700, 20px, 30px);
  }
}
