@use "../utils/global.scss";

.main-header {
  position: relative;
  background-color: var(--page-background);

  @media (min-width: global.$width-small) {
    min-height: 81px;
    padding: 0;
  }

  @media (min-width: global.$width-medium) {
    padding: 0;
    border: none;
  }

  @media (min-width: global.$width-big) {
    padding: 0;
  }
}
