@use "../utils/global.scss";

.map {
  position: relative;
}

.map__link {
  position: absolute;
  z-index: -1;
  display: block;
}

.map__image {
  @include global.sizer(100%, 455px);
}

.map__body {
  @include global.sizer(100%, 455px);
}
