@use "../utils/global.scss";

.modal {
  position: fixed; /* Не могу понять, в данном случае это нарушение БЭМа или нет? По идее да, но от этого блока же и ожидается такое поведение. */
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--light-09);

  &--close {
    display: none;
  }
}

