@use "../utils/global.scss";

.order-form__container {
  padding-left: global.$padding-small;
  padding-right: global.$padding-small;

  @media (min-width: global.$width-medium) {
    padding-left: global.$padding-medium;
    padding-right: global.$padding-medium;
  }

  @media (min-width: global.$width-big) {
    padding-left: var(--page-padding-big);
    padding-right: var(--page-padding-big);
  }

  &--accent {
    background-color: var(--page-content-background);
  }
}

.order-form__lead {
  margin: 0;
  padding-top: 14px;
  padding-bottom: 29px;
  @include global.fonter(400, 13px, 24px);

  @media (min-width: global.$width-medium) {
    padding: 67px 0 19px;
    @include global.fonter(400, 17px, 30px);
  }

  @media (min-width: global.$width-big) {
    padding: 108px 173px 30px 61px;
  }
}

.order-form__inputs {
  margin-bottom: 55px;

  @media (min-width: global.$width-medium) {
    margin-bottom: 49px;
  }

  @media (min-width: global.$width-big) {
    margin-bottom: 0;
  }
}

.order-form__note {
  margin-top: 17px;
  margin-bottom: 30px;
  @include global.fonter(400, 14px, 16px);

  @media (min-width: global.$width-medium) {
    margin: 0;
    @include global.fonter(400, 17px, 30px);
    order: 2;
    flex-grow: 1;
    max-width: 50%;
  }

  @media (min-width: global.$width-big) {
    max-width: 100%;
    text-align: right;
  }
}

.order-form__footer {
  @media (min-width: global.$width-medium) {
    display: flex;
    column-gap: 138px;
    align-items: center;
    justify-content: space-between;
    padding-top: 3px;
  }

  @media (min-width: global.$width-big) {
    padding: 0 173px 50px 61px;
    display: grid;
    grid-template-columns: 14.11% 30% 55%;
    gap: 0;
  }

  &::before {
    content: "";
    display: none;
    width: 100%;

    @media (min-width: global.$width-big) {
      display: block;
    }
  }
}

.order-form__button {
  @media (min-width: global.$width-medium) {
    max-width: 34%;
    padding-left: 10px;
    padding-right: 10px;
  }

  @media (min-width: global.$width-big) {
    max-width: 100%;
  }
}
