@use "../utils/global.scss";

.order-form {
  padding-left: global.$padding-small;
  padding-right: global.$padding-small;

  @media (min-width: global.$width-medium) {
    padding-left: 0;
    padding-right: 0;
  }

  @media (min-width: global.$width-x-big) {
    padding-left: 0;
    padding-right: 0;
  }
}

.order-form__lead {
  margin: 0;
  padding-top: 17px;
  padding-bottom: 29px;
  @include global.fonter(400, 13px, 24px);

  @media (min-width: global.$width-medium) {
    padding: 54px global.$padding-medium 13px;
    @include global.fonter(400, 17px, 30px);
  }

  @media (min-width: global.$width-big) {
    padding: 99px var(--page-padding-x-big) 30px var(--page-padding-x-big);
  }
}

.order-form__inputs {
  margin-bottom: 55px;
}

.order-form__note {
  margin-top: 17px;
  margin-bottom: 30px;
  @include global.fonter(400, 14px, 16px);

  @media (min-width: global.$width-medium) {
    margin: 0;
    @include global.fonter(400, 17px, 30px);
    order: 2;
    flex-grow: 1;
    max-width: 50%;
  }

  @media (min-width: global.$width-big) {
    text-align: right;
  }
}

.order-form__footer {
  @media (min-width: global.$width-medium) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 3px;
    padding-left: global.$padding-medium;
    padding-right: global.$padding-medium;
  }

  @media (min-width: global.$width-big) {
    padding: 49px var(--page-padding-x-big) 50px var(--page-padding-x-big);
  }
}

.order-form__button {
  @media (min-width: global.$width-medium) {
    max-width: 40%;
    padding-left: 32px;
    padding-right: 32px;
  }
}
