@use "../utils/global.scss";

.page {
  height: 100%;
}

.page__body {
  min-width: 320px;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  @include global.fonter(400, 15px, 24px);
  color: var(--semi-dark);
  background-color: var(--page-background);
  overflow-x: hidden; /* Убирает горизонтальную прокрутку от псевдика, который шириной 100vw */
}

.page__container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-width: 320px;
  min-height: 100%;
  margin: 0 auto;
}

.page__title {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 178px;
  margin: 0;
  padding: 15px var(--padding-small) 20px;
  @include global.fonter(700, 27px, 30px);
  background-color: var(--page-content-background);

  @media (min-width: global.$width-medium) {
    min-height: 161px;
    padding-top: 0;
    padding-bottom: 38px;
    @include global.fonter(700, 43px, 50px);
  }

  @media (min-width: global.$width-big) {
    min-height: 192px;
    padding-bottom: 73px;
    padding-left: var(--page-padding-big);
    padding-right: var(--page-padding-big);
    @include global.fonter(700, 53px, 57px);
  }
}

.page__title::after {
  @media (min-width: global.$width-small) {
    content: "";
    position: absolute;
    bottom: -12px;
    display: none;
    width: 100%;
    height: 24px;
  }

  @media (min-width: global.$width-medium) {
    display: block;
    background: url("../img/hero-divider-medium.svg") repeat-x center;
  }

  @media (min-width: global.$width-big) {
    display: block;
    height: 34px;
    background: url("../img/hero-divider-big.svg") repeat-x center;
  }
}
