@use "../utils/global.scss";

.product-order {
  padding: 30px global.$padding-small 46px;
  background-color: var(--page-background);
  box-shadow: var(--modal-shadow);
}

.product-order__title {
  margin: 0;
  margin-bottom: 18px;
  @include global.fonter(700, 25px, 30px);
  text-align: center;
  text-transform: uppercase;
  color: var(--dark);
}

.product-order__message {
  margin: 0;
  margin-bottom: 22px;
  @include global.fonter(400, 17px, 30px);
  text-align: center;
}

.product-order__size-choser {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  margin-bottom: 31px;
  padding: 0;
  border: none;
}

.product-order__label {
  flex-grow: 1;
}
