@use "../utils/global.scss";

.product-card {
  @media (min-width: global.$width-medium) {
    display: flex;
    width: 100%;
  }

  @media (min-width: global.$width-big) {
    flex-flow: column;
  }

  &:hover .product-card__info {
    box-shadow: var(--card-shadow-hover);

    @media (min-width: global.$width-medium) {
      box-shadow: var(--card-shadow-hover-right);
    }

    @media (min-width: global.$width-big) {
      box-shadow: var(--card-shadow-hover);
    }
  }
}

.product-card__image-link {
  display: block;

  &:active .product-card__info {
    box-shadow: var(--card-shadow-active);
  }

  @media (min-width: global.$width-medium) {
    min-width: 334px;
    border-bottom: 1px solid var(--neutral); /* Если описание товара во высоте больше картинки, то получается некрасиво. А картинку растянуть во всю высоту пока не получается. */
    border-left: 1px solid var(--neutral);
  }

  @media (min-width: global.$width-big) {
    min-width: 316px;
  }
}

.product-card__image {
  background-color: var(--neutral-dark);
  object-fit: cover;
}

.product-card__info {
  padding: 28px 28px 27px;
  border: 1px solid var(--neutral);
  border-top: none;

  @media (min-width: global.$width-medium) {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border: 1px solid var(--neutral);
    border-left: none;
  }

  @media (min-width: global.$width-big) {
    border: 1px solid var(--neutral);
    border-top: none;
  }

  @media (min-width: global.$width-big) {
    padding: 26px 26px 27px;
  }
}

.product-card__title {
  margin: 0;
  margin-bottom: 6px;
}

.product-card__title-link {
  @include global.fonter(700, 17px, 24px);
  text-decoration: none;
  color: var(--dark);

  &:active .product-card__info {
    box-shadow: var(--card-shadow-active);
  }

  @media (min-width: global.$width-medium) {
    margin-bottom: 7px;
    @include global.fonter(700, 20px, 24px);
  }
}

.product-card__features {
  margin: 0;
  margin-bottom: 18px;
  @include global.fonter(400, 13px, 30px);

  @media (min-width: global.$width-medium) {
    margin-bottom: auto;
    @include global.fonter(400, 15px, 30px);
  }

  @media (min-width: global.$width-big) {
    padding-bottom: 37px;
  }
}

.product-card__order {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 22px;
  border-top: 1px solid var(--neutral);

  @media (min-width: global.$width-medium) {
    padding-top: 24px;
  }

  @media (min-width: global.$width-big) {
    padding-top: 27px;
  }
}

.product-card__price {
  margin: 0;
  @include global.fonter(700, 17px, 24px);
}

.product-card__button {
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:hover .product-card__cart {
    color: var(--accent-color);
    opacity: var(--icon-opacity-hover);
  }

  &:active .product-card__cart {
    color: var(--accent-color);
    opacity: var(--icon-opacity-active);
  }

  &:active .product-card__info {
    box-shadow: var(--card-shadow-active);
  }
}

.product-card__cart {
  color: var(--dark);
  opacity: var(--icon-opacity);
}
