@use "../utils/global.scss";

.product-order {
  padding: 30px var(--padding-small) 46px;
  background-color: var(--page-background);
  box-shadow: var(--modal-shadow);

  @media (min-width: global.$width-medium) {
    padding: 30px 108px 46px;
  }
}

.product-order__title {
  margin: 0;
  margin-bottom: 18px;
  @include global.fonter(700, 25px, 30px);
  text-align: center;
  text-transform: uppercase;
  color: var(--dark);

  @media (min-width: global.$width-medium) {
    @include global.fonter(700, 30px, 57px);
  }
}

.product-order__message {
  margin: 0;
  margin-bottom: 22px;
  @include global.fonter(400, 17px, 30px);
  text-align: center;
}

.product-order__size-choser {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  margin-bottom: 31px;
  padding: 0;
  border: none;
}

.product-order__label {
  flex-grow: 1;
  display: flex;
}

.product-order__input {
  display: grid;
  justify-content: center;
  place-content: center;
  flex-grow: 1;
  appearance: none;
  margin: 0;
  width: 38px;
  height: 38px;
  padding-top: 24px;
  padding-bottom: 24px;
  font: inherit;
  color: var(--semi-dark);
  background-color: transparent;
  border: 2px solid var(--semi-dark-01);

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    @include global.fonter(700, 17px, 17px);
  }

  &:hover {
    border: 2px solid var(--accent-color);
  }

  &:checked {
    border: 2px solid var(--accent-color);
  }

  &:active {
    border: 2px solid var(--dark-03);
  }

  &--size-s {
    &::before {
      content: "S"; /* Не знаю, как там JS работает. Может лучше было запихивать это в span? */
    }
  }

  &--size-m {
    &::before {
      content: "M";
    }
  }

  &--size-l {
    &::before {
      content: "L";
    }
  }
}
