@use "../utils/global.scss";

.promo-card {
  padding: 31px global.$padding-small 36px;

  @media (min-width: global.$width-medium) {
    display: grid;
    column-gap: 42px;
    grid-template-columns: 43.71% 50%;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "header header"
                          "description image"
                          "price image"
                          "button image";
    padding: 40px global.$padding-medium 52px;
  }

  @media (min-width: global.$width-big) {
    padding: 31px global.$padding-big 36px;
  }
}

.promo-card__header {
  grid-area: header;

  @media (min-width: global.$width-medium) {
    display: flex;
    justify-content: space-between;
  }
}

.promo-card__title {
  grid-area: title;
  margin: 0;
  @include global.fonter(700, 25px, 30px);
  color: var(--dark);

  @media (min-width: global.$width-medium) {
    margin-bottom: 37px;
    @include global.fonter(700, 43px, 50px);
  }
}

.promo-card__subtitle {
  grid-area: subtitle;
  margin: 0;
  margin-bottom: 18px;
  @include global.fonter(700, 17px, 20px);
  text-transform: uppercase;
  color: var(--accent-color);

  @media (min-width: global.$width-medium) {
    align-self: center;
    max-width: min-content;
    margin-right: 13px;
    @include global.fonter(700, 17px, 17px);
    text-align: center;
  }
}

.promo-card__description {
  grid-area: description;
}

.promo-card__lead {
  margin: 0;
  margin-bottom: 13px;

  @media (min-width: global.$width-medium) {
    margin-bottom: 48px;
    @include global.fonter(400, 17px, 30px);
  }
}

.promo-card__feature {
  display: grid;
  grid-template-columns: fit-content(50%) fit-content(50%);
  max-width: 100%;
  margin: 0;
  margin-bottom: 41px;
  padding: 0;

  @media (min-width: global.$width-medium) {
    grid-template-columns: fit-content(50%) auto;
    margin-bottom: 57px;
  }
}

.promo-card__feature-name {
  margin: 0;
  padding: 12px 30px 12px 0;
  @include global.fonter(400, 15px, 20px);
  overflow-wrap: anywhere;
  border-bottom: 1px solid var(--neutral);
}

.promo-card__feature-value {
  margin: 0;
  padding-top: 17px;
  @include global.fonter(400, 15px, 20px);
  overflow-wrap: anywhere;
  border-bottom: 1px solid var(--neutral);
}

.promo-card__image {
  grid-area: image;
  display: block;
  margin-bottom: 26px;
}

.promo-card__price {
  grid-area: price;
  @include global.centerer(center, center);
  margin: 0;
  margin-bottom: 25px;
  @include global.fonter(700, 17px, 24px);

  @media (min-width: global.$width-medium) {
    margin-bottom: 33px;
    @include global.fonter(700, 20px, 24px);
  }
}

.promo-card__button {
  grid-area: button;
}
