@use "../utils/global.scss";

.promo-card {
  padding: 37px 0 36px;

  /* stylelint-disable */
  @media (min-width: global.$width-medium) {
    display: grid;
    column-gap: 42px;
    grid-template-columns: 43.71% 50%;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "card-header card-header" /* Ругается тут на отступы */
                          "card-description card-image"
                          "card-price card-image"
                          "card-button card-image";
    padding: 56px 0 69px;
  }
  /* stylelint-enable */

  @media (min-width: global.$width-big) {
    column-gap: 0;
    grid-template-columns: 40% 60%;
    grid-template-rows: minmax(140px, min-content) minmax(355px, min-content) minmax(89px, min-content) minmax(52px, min-content); /* Не знаю, как тут ещё быть. */
    padding: 75px 0 max(96px, 9%) global.$padding-left-big;
  }
}

.promo-card__header {
  position: relative;
  grid-area: card-header;
  pointer-events: none; /* В одном из разрешений надпись нависает над картинкой. А на картинке у меня ссылка. */

  @media (min-width: global.$width-medium) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 14px;
  }

  @media (min-width: global.$width-big) {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    align-self: end;
    justify-self: start;
    z-index: 1;
    width: 100%;
    margin: 0;
    padding-bottom: 22px;
  }
}

.promo-card__title {
  grid-area: card-title;
  margin: 0;
  margin-bottom: 5px;
  @include global.fonter(700, 25px, 30px);
  color: var(--dark);

  @media (min-width: global.$width-medium) {
    margin: 0;
    @include global.fonter(700, 43px, 50px);
  }

  @media (min-width: global.$width-big) {
    @include global.fonter(700, 53px, 57px);
  }
}

.promo-card__subtitle {
  grid-area: card-subtitle;
  margin: 0;
  margin-bottom: 16px;
  @include global.fonter(700, 17px, 20px);
  text-transform: uppercase;
  color: var(--accent-color);

  @media (min-width: global.$width-medium) {
    align-self: center;
    max-width: min-content;
    margin-right: 27px;
    padding-top: 5px;
    @include global.fonter(700, 17px, 17px);
    text-align: center;
  }

  @media (min-width: global.$width-big) {
    position: absolute;
    left: -130px;
    top: 10%;
    bottom: 19px;
    margin: 0;
    padding: 0;
  }
}

.promo-card__description {
  grid-area: card-description;

  @media (min-width: global.$width-medium) {
    margin-bottom: 30px;
  }

  @media (min-width: global.$width-big) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin-bottom: 0;
    padding-top: 12px;
  }
}

.promo-card__lead {
  margin: 0;
  margin-bottom: 15px;

  @media (min-width: global.$width-medium) {
    margin-bottom: 36px;
    @include global.fonter(400, 17px, 30px);
  }

  @media (min-width: global.$width-big) {
    margin-bottom: 50px;
    padding-right: 58px;
  }
}

.promo-card__feature {
  display: grid;
  grid-template-columns: 38% 62%;
  max-width: 100%;
  margin: 0;
  margin-bottom: 31px;
  padding: 0;

  @media (min-width: global.$width-medium) {
    grid-template-columns: fit-content(50%) auto;
  }

  @media (min-width: global.$width-big) {
    margin-bottom: 0;
    padding-right: 58px;
  }
}

.promo-card__feature-name {
  margin: 0;
  padding: 12px 30px 8px 0;
  @include global.fonter(400, 15px, 20px);
  overflow-wrap: anywhere;
  border-bottom: 1px solid var(--neutral);

  @media (min-width: global.$width-big) {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.promo-card__feature-value {
  margin: 0;
  padding-top: 12px;
  padding-bottom: 8px;
  @include global.fonter(400, 15px, 20px);
  overflow-wrap: anywhere;
  border-bottom: 1px solid var(--neutral);

  @media (min-width: global.$width-big) {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.promo-card__image {
  grid-area: card-image;
  align-self: end;
  display: block;
  max-width: 335px; /* Пусть чуть тянется, до того момента, как начинается размытие. */
  margin: 0 auto;
  margin-bottom: 26px;

  @media (min-width: global.$width-medium) {
    margin-bottom: 0;
  }

  @media (min-width: global.$width-big) {
    grid-column: 2 / 3;
    grid-row: 1 / -1;
    max-width: 525px;
  }
}

.promo-card__price {
  grid-area: card-price;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  margin-bottom: 22px;
  @include global.fonter(700, 17px, 24px);

  @media (min-width: global.$width-medium) {
    margin-bottom: 30px;
    @include global.fonter(700, 20px, 24px);
  }

  @media (min-width: global.$width-big) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    margin-bottom: 0;
    padding: 10px 58px 10px 0;
  }
}

.promo-card__button {
  grid-area: card-button;
  align-self: start;

  @media (min-width: global.$width-big) {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    align-self: end;
    justify-self: center;
    max-width: 292px; /* Не знаю, что с этими кнопками делать. */
    margin-right: 58px;
    margin-bottom: 0;
  }
}
