@use "../utils/global.scss";

.promo-menu {
  @include global.list-reseter;
}

.promo-menu__link {
  display: block;
  @include global.fonter(700, 15px, 24px);
  text-decoration: none;
  color: var(--dark);

  &:hover {
    opacity: var(--opacity-hover);
  }

  &:active {
    opacity: var(--opacity-hover);
  }
}
