@use "../utils/global.scss";

.promo-menu__link {
  display: block;
  @include global.fonter(700, 15px, 24px);
  text-decoration: none;
  color: var(--dark);

  &:hover {
    opacity: var(--opacity-hover);
  }

  &:active {
    opacity: var(--opacity-hover);
  }

  @media (min-width: global.$width-big) {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.promo-menu__item {
  @media (min-width: global.$width-big) {
    display: flex;
    flex-basis: 50%; /* Переполняется пункт меню некрасиво вниз, но при увеличении экрана сохраняется горизонтальная синхронизация с пунктами меню сайта, которые стоят выше. */
    padding-left: 31px;
    padding-right: 31px;
  }
}
