@use "../utils/global.scss";

.reviews {
  padding: 31px global.$padding-small 45px;

  @media (min-width: global.$width-medium) {
    padding: 31px global.$padding-medium 45px;
  }

  @media (min-width: global.$width-big) {
    padding: 31px global.$padding-big 45px;
  }
}

.reviews__title {
  margin: 0;
  margin-bottom: 14px;
  @include global.fonter(700, 25px, 30px);
  color: var(--dark);
}
