@use "../utils/global.scss";

.review__text {
  margin: 0;
  margin-bottom: 33px;
  @include global.fonter(400, 15px, 30px);

  @media (min-width: global.$width-medium) {
    margin-bottom: 61px;
    @include global.fonter(400, 17px, 30px);
    text-shadow: 0 0 2px #ffffffbf; /* Эффекта не вижу. Возможно потому что фон вставлен через позиционированный псевдоэлемент. */
  }

  @media (min-width: global.$width-big) {
    margin-bottom: 46px;
  }
}

.review__source {
  @include global.fonter(700, 17px, 24px);
  color: var(--dark);

  @media (min-width: global.$width-medium) {
    display: flex;
    flex-direction: column;
    @include global.fonter(700, 18px, 24px);
  }

  @media (min-width: global.$width-big) {
    max-width: 90%;
    @include global.fonter(700, 17px, 24px);
  }
}

.review__author {
  margin: 0;
  padding: 0;
}

.review__instagram {
  margin: 0;
  padding: 0;
}

.review__link {
  display: block;
  @include global.fonter(400, 17px, 34px);
  text-decoration: none;
  color: var(--semi-dark);

  &:hover {
    opacity: var(--opacity-hover);
  }

  &:active {
    opacity: var(--opacity-active);
  }

  @media (min-width: global.$width-medium) {
    @include global.fonter(400, 17px, 30px);
  }

  @media (min-width: global.$width-big) {
    max-width: 90%;
  }
}
