@use "../utils/global.scss";

.slider {
  padding: 31px 0 45px;

  @media (min-width: global.$width-medium) {
    display: grid;
    grid-template-columns: 73.8% 26.2%;
    grid-template-rows: auto auto;
    padding: 82px 0 149px;
  }

  @media (min-width: global.$width-big) {
    padding: 78px 0 186px global.$padding-left-big;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: url("../img/reviews-background.jpg") no-repeat left top transparent;

    @media (min-width: global.$width-small) {
      display: none;
    }

    @media (min-width: global.$width-medium) {
      display: block;
    }
  }
}

.slider__title {
  margin: 0;
  margin-bottom: 14px;
  @include global.fonter(700, 25px, 30px);
  color: var(--dark);

  @media (min-width: global.$width-medium) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    @include global.fonter(700, 43px, 50px);
    margin-bottom: 39px;
  }
}

.slider__list {
  margin-bottom: 30px;

  @media (min-width: global.$width-medium) {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    margin: 0;
  }
}

.slider__item {
  display: none;

  &--current {
    display: block;
  }
}

.slider__content {
  margin: 0;
}

.slider__controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 38px;

  @media (min-width: global.$width-medium) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    align-self: end;
    justify-self: end;
    width: 100%;
    margin: 0;
  }
}

.slider__control {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding-top: 13px;
  padding-bottom: 13px;
  background-color: transparent;
  border: 1px solid var(--neutral);
  cursor: pointer;

  &--prev {
    transform: rotate(180deg);
    border-left: none;
  }

  &:hover {
    opacity: var(--opacity-hover);
  }

  &:active {
    opacity: var(--opacity-active);
  }

  @media (min-width: global.$width-medium) {
    border: none;
  }
}

.slider__button {
  @media (min-width: global.$width-medium) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    align-self: start;
    justify-self: end;
    height: auto;
    padding-left: 26px;
    padding-right: 26px;
  }
}
