@use "../utils/global.scss";

.toggle {
  width: 20px;
  height: 14px;
  padding: 0;
  padding-top: 2px;
  padding-bottom: 2px;
  border: none;
  background-color: var(--dark-action);
  cursor: pointer;

  &:hover {
    opacity: var(--opacity-hover);
  }

  &:active {
    opacity: var(--opacity-active);
  }

  &--close {
    background-color: transparent;
  }
}

.toggle__button {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-color: transparent;
  transition: var(--transition);

  &::before {
    content: "";
    display: block;
    width: 20px;
    height: 4px;
    background-color: var(--page-background);
    transition: var(--transition);
  }

  &::after {
    content: "";
    display: block;
    width: 20px;
    height: 4px;
    background-color: var(--page-background);
    transition: var(--transition);
  }

  &--close {
    position: relative;
    background-color: transparent;
    transform-origin: center center;
    transform: rotate(45deg);
    transition: var(--transition);
    transition-delay: 0.15s;

    &::before {
      content: "";
      position: absolute;
      transform: translateY(-50%) rotate(90deg);
      top: 50%;
      width: 100%;
      height: 2px;
      background-color: var(--dark-action);
      transition-delay: 0.15s;
    }

    &::after {
      content: "";
      position: absolute;
      transform: translateY(-50%);
      top: 50%;
      width: 100%;
      height: 2px;
      background-color: var(--dark-action);
    }
  }
}
