@use "../utils/global.scss";

.toggle {
  width: 30px;
  height: 20px;
  padding: 3px 5px;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    opacity: var(--opacity-hover);
  }

  &:active {
    opacity: var(--opacity-active);
  }
}

.toggle__button {
  display: block;
  width: 20px;
  height: 2px;
  padding: 0;
  background-color: var(--dark-action);
  border: none;
  transition: var(--transition);

  &::before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background-color: var(--dark-action);
    transform: translateY(-6px);
  }

  &::after {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background-color: var(--dark-action);
    transform: translateY(3px);
  }

  &--close {
    transform-origin: center center;
    transform: rotate(45deg);

    &::before {
      display: none;
    }

    &::after {
      transform-origin: center center;
      transform: translateY(0) rotate(-90deg);
    }
  }
}
