@use "../utils/global.scss";

.user-menu {

  @media (min-width: global.$width-medium) {
    display: flex;
    flex-wrap: wrap;
    padding-right: global.$padding-medium;
  }
}

.user-menu__item {
  @media (min-width: global.$width-small) {
    padding-left: 30px;
    background-color: var(--page-background);
  }

  @media (min-width: global.$width-medium) {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
}

.user-menu__item:not(:last-child) {
  border-bottom: 2px solid var(--neutral);

  @media (min-width: global.$width-medium) {
    border-bottom: none;
  }
}

.user-menu__link {
  display: flex;
  align-items: center;
  padding-top: 29px;
  padding-bottom: 27px;
  @include global.fonter(700, 17px, 24px);
  text-decoration: none;
  color: var(--dark);

  @media (min-width: global.$width-medium) {
    padding: 0;
    min-height: 89px;
  }

  &:hover {
    .user-menu__search-text {
      opacity: var(--opacity-hover);
    }

    .user-menu__cart-text {
      opacity: var(--opacity-hover);
    }

    .user-menu__cart-counter {
      opacity: var(--opacity-hover);
    }

    .user-menu__icon {
      color: var(--accent-color);
      opacity: var(--icon-opacity-hover);
    }
  }

  &:active {
    opacity: var(--opacity-active);

    .user-menu__icon {
      color: var(--accent-color);
      opacity: var(--icon-opacity-active);
    }
  }

  &--search {
    @media (min-width: global.$width-medium) {
      padding-left: 33px;
      padding-right: 31px;
      border-left: 1px solid var(--dark-01);
      border-right: 1px solid var(--dark-01);
    }
  }

  &--cart {
    @media (min-width: global.$width-medium) {
      padding-left: 31px;
    }
  }
}

.user-menu__icon {
  color: var(--dark);
  opacity: var(--icon-opacity);
}

.user-menu__search-text {
  @media (min-width: global.$width-small) {
    padding-left: 25px;
  }

  @media (min-width: global.$width-medium) {
    display: none;
  }
}

.user-menu__cart-text {
  @media (min-width: global.$width-small) {
    padding-left: 25px;
  }
}
