@use "global.scss"; /* stylelint-disable-line */

.catalog {
  padding: 30px;
}

.product-card__link {
  @include global.fonter(700, 20px, 24px);
  text-decoration: none;
  color: var(--dark);
}

.product-card__features {
  @include global.fonter(400, 15px, 30px);
}

.product-card__price {
  @include global.fonter(700, 17px, 24px);
}

.product-card__image {
  background-color: var(--dark-neutral);
}
