@use "global.scss"; /* stylelint-disable-line */

.copyright__link {
  @include global.centerer;
  gap: 27px;
  text-decoration: none;

  &:hover .copyright__img {
    color: var(--dark-accent-color);
  }

  &:active .copyright__img {
    color: var(--dark-accent-color);
    opacity: var(--active-opacity);
  }
}

.copyright__text {
  @include global.fonter(700, 19px, 18px);
  color: var(--dark);
}

.copyright__img {
  color: var(--accent-color);
}
