@use "global.scss"; /* stylelint-disable-line */

.logo {
  display: block;
  background-color: var(--page-background);

  .logo__img {
    color: var(--dark);
  }

  &:hover {
    .logo__img {
      opacity: var(--hover-opacity);
    }
  }

  &:active {
    .logo__img {
      opacity: var(--active-opacity);
    }
  }

  &--footer {
    color: var(--dark);
  }

  &--footer:hover {
    color: var(--dark-accent-color);
  }

  &--footer:active {
    color: var(--dark-accent-color);
    opacity: var(--active-opacity);
  }
}
