@use "global.scss";

.showcase {
  padding-left: 30px;
  padding-right: 30px;
}

.showcase__content {
  padding-top: 22px;
  padding-bottom: 33px;
  border: 1px solid var(--neutral);
}

.showcase__title {
  position: relative;
  margin: 0;
  margin-bottom: 27px;
  padding-left: 91px;
  @include global.fonter(700, 17px, 24px);
  color: var(--dark);

  &::before {
    content: "";
    position: absolute;
    top: 25%;
    left: 34px;
    display: block;
    @include global.sizer(32px, 22px);
    background: url("../img/icons/icon-camera.svg") no-repeat transparent center center;
  }
}

.showcase__description {
  margin: 0;
  margin-top: 35px;
  margin-bottom: 41px;
  padding-left: 34px;
  padding-right: 34px;
  @include global.fonter(400, 13px, 24px);
}

.showcase__button-container {
  padding-left: 34px;
  padding-right: 34px;
}
